.header-container,
.footer-container,
.pricing-container {
    max-width: 80%;
    margin: 0 auto;
}

html,
body {
    min-height: 100%;
}


.pricing-title {
    font-size: 40px;
    line-height: 48px;
    color: #504B5A;
    font-family: 'PoppinsB', sans-serif;
    max-width: 722px;
    margin-bottom: 30px;
    margin-top: 70px;
}

.pricing-title span {
    color: #00A8A8;
}

.pricing-desciption {
    font-size: 17px;
    line-height: 22px;
    font-family: 'PoppinsB', sans-serif;
    color: #504B5A;
    margin-bottom: 21px;
}

.pricing-offer {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: linear-gradient(264deg, #7737FF 0%, #5B00CE 100%);
    border: 1.5px solid #504B5A;
    border-radius: 16px;
    color: #ffffff;
    padding: 24px;
    position: relative;
}

.pricing-offer::after {
    content: " ";
    position: absolute;
    background: #504B5A;
border-radius: 16px;
width: 99.7%;
height: 100%;
z-index: -1;
left: 0;
bottom: -5px;
}

.pricing-offer-timeline {
    position: absolute;
    right: 24px;
    top: 24px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.67);
    border-radius: 32px;
    padding: 4px 16px;
    font-size: 13px;
    line-height: 18px;
    color: #282831;
    font-family: 'PoppinsB', sans-serif;
}

.po-title {
    font-size: 32px;
    line-height: 36px;
    font-family: 'PoppinsB', sans-serif;
}

.po-description {
    font-size: 17px;
    line-height: 22px;
    font-family: 'PoppinsB', sans-serif;
    margin-top: 10px;
    margin-bottom: 32px;
}

.po-benefits-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 195px;
    margin-top: 13px;
}

.po-benefit {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    max-width: 350px;
    margin-bottom: 16px;
}

.po-benefit .po-benefit-mark {
    margin-right: 12px;
}

.po-offer-button {
    padding: 11px 0;
    font-size: 17px;
    color: #504B5A;
    font-family: 'PoppinsB', sans-serif;
    background: #FFFFFF;
    border-radius: 8px;
    outline: 0;
    border: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.po-offer-button:hover {
    cursor: pointer;
}


.partner-design-link {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 38px;
    font-size: 27px;
    line-height: 27px;
    font-family: 'PoppinsB', sans-serif;
    color: #00A8A8;
    text-decoration: none;
}


/* Responsive styles >1920 */
@media screen and (min-width: 1921px) {
    .pricing-title {
        font-size: 54px;
        max-width: 980px;
        line-height: 70px;
        margin: 100px 0 70px 0;
    }

    .pricing-desciption {
        font-size: 24px;
        margin-bottom: 50px;
    }

    .benefit {
        font-size: 20px;
    }

    .benefit svg{
        width: 45px;
        height: 45px;
    }

    .pricing-offer {
        margin-top: 90px;
        padding-top: 90px;
        padding-bottom: 60px;
    }

    .po-title {
        font-size: 44px;
        margin-bottom: 30px;
    }

    .po-description {
        font-size: 22px;
    }

    .po-benefit {
        font-size: 20px;
        max-width: 405px;
        margin-bottom: 24px;
    }

    .po-offer-button {
        padding: 14px 0;
        font-size: 22px;
        margin-top: 50px;
    }

    .partner-design-link {
        margin: 100px 0;
    }
}

@media screen and (max-width: 1040px) {
    .header-container, .footer-container, .pricing-container {
        max-width: 100% !important;
        padding: 0 20px;
    }
}

@media screen and (max-width: 790px) {
    .po-title {
        font-size: 28px;
    }
}

@media screen and (max-width: 768px) {
    .header-menu {
        margin-bottom: -3px;
    }

    header {
        padding-left: 0 !important;
        padding-right: 0 !important; 
    }
}

@media screen and (max-width: 720px) {
    .pricing-offer-timeline {
        font-size: 10px;
    }

    .po-benefit {
        font-size: 14px;
    }

    .partner-design-link {
        font-size: 21px;
    }
}


@media screen and (max-width: 680px) {
    .pricing-offer {
        padding-top: 60px;
    }

    .pricing-offer-timeline {
        font-size: 12px;
    }
}


@media screen and (max-width: 650px) {
    .po-benefits-list {
        flex-wrap: nowrap;
    }

    .po-benefit {
        font-size: 16px;
    }

    .po-benefits-list {
        max-height: fit-content;
    }

    .pricing-title {
        font-size: 34px;
        text-align: center;
    }

    .pricing-desciption {
        text-align: center;
    }
} 


@media screen and (max-width: 570px) {
    .po-title {
        font-size: 26px;
    }

    .po-description {
        font-size: 16px;
    }
}


@media screen and (max-width: 500px) {
    .pricing-title {
        margin-top: 30px;
        font-size: 30px;
    }

    .pricing-desciption {
        max-width: 271px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .focus-benefits {
        flex-direction: column;
        align-items: flex-start;
        max-width: 300px;
    }

    .benefit {
        font-size: 16px;
        margin-bottom: 25px;
        max-width: unset;
    }

    .benefit br {
        display: none;
    }

    .partner-design-link {
        font-size: 18px;
    }
}

/* @media screen and (max-width: 1470px) {
    .footer-integrations a {
        margin-right: 10px;
    }    

    .footer-terms .footer-social {
        margin-left: 20px;
    }

    #terms {
        margin-right: 10px;
    }


} */

@media screen and (max-width: 1280px) {
    .header-container, .footer-container, .pricing-container {
        max-width: unset !important;
    }

    .bs-container {
        padding: 0 20px;
    }

    .header-container a {
        margin: 0 15px;
    }
}